@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: linear-gradient(to bottom, #111111 0%, rgb(61, 61, 61) 100%);
  font-family: poppins;
}

ul {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

a {
  text-decoration: none;
  padding: 4px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 4;
  background-image: linear-gradient(180deg, rgb(17, 17, 17) 15%, transparent);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.menu li {
  padding: 20px;
}

.menu li a {
  color: #ffffffcc;
}

.hire-me {
  color: #46a0f5;
  z-index: 3;
}

.hire-me i {
  margin-left: 4px;
}

.menu li a:hover {
  color: #46a0f5;
  transition: all ease 0.5s;
}

.hire-me:hover {
  color: #1a82e2;
  transition: all ease 0.5s;
}

/* splash page styling */
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#main::before {
  content: '';
  position: absolute;
  width: 130%;
  height: 100vh;
  left: -20%;
  top: -23%;
  transform: rotate(-10deg);
  /* background: linear-gradient(45deg, rgb(19, 19, 19) -10%, #141516);*/
  z-index: -1;
}

.main-text {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-15%, -50%);
  width: 500px;
}

.main-text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
  margin: 0px;
  line-height: 45px;
  font-family: roboto;
}

.main-text p {
  color: #8a94a7c0;
  font-size: 1rem;
  margin: 0px;
  margin-top: 10px;
}

.main-btns {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.main-btns a {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.download-cv-btn {
  background: linear-gradient(90deg, #2788e2 20%, #3b58b8);
  margin-right: 20px;
}

.hire-me-btn {
  background-color: #242830;
}

.hire-me-btn:hover {
  background-color: #0f7ce2;
  transition: all ease 0.3s;
}

.profile-picture {
  width: 681px;
  height: 1500px;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(-7%, -50%);
}

/*
.profile-picture img {
  border-radius: 50%;
  rotate: -15deg;
  scale: .75;
  object-fit: contain;
}
*/

.model-bg {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45%;
  height: 100%;
}

.model-bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

/*Skills page styling*/
#skills {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto auto 50px auto;
}

.skills-text {
  width: 400px;
}

.skill-heading span {
  color: #416cdf;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: roboto;
}

.skill-heading h2 {
  color: #ffffff;
  font-size: 1rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}

.s-box-container {
  margin-top: 30px;
}

.skill-box {
  display: flex;
  margin: 25px 0px;
}

.s-box-icon {
  margin-right: 12px;
}

.s-box-icon i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f011;
  font-size: 1.1rem;
}

.skill-box strong {
  color: #ffffff;
  margin: 0px;
  font-weight: 400;
  font-size: 0.9rem;
}

.skill-box p {
  color: #8a94a783;
  font-size: 0.9rem;
}

/* skills icons */
.fa-java {
  color: #e06061;
}

.fa-database {
  color: #5d85f3;
}

.fa-python {
  color: #f9ca31;
}

/*"About me" page styling*/
#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: relative;
  text-align: center;
  max-width: 80%;
  border-top: 1px solid #292b32;
  padding: 5px 0px;
  padding-bottom: 60px;
  border-bottom: 1px solid #292b32;
  margin: 5px auto;
  background-image: url(../images/bg.png);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-heading {
  width: 100%;
}

.intro-heading strong {
  color: #416cdf;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: roboto;
}

.intro-heading p {
  color: #8a94a763;
}

.fa-github {
  scale: 2;
  padding-bottom: 0px;
  color: rgb(255, 255, 255);
}

/*contact form styling */
#get-in-touch {
  width: 90%;
  height: 100px;
  background-color: #15181d;
  display: flex;
  margin: 60px auto;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background-position: top right;
  background-size: 400px;
  background-repeat: no-repeat;
}

#get-in-touch span {
  color: #e4e4e4;
  font-size: 1.3rem;
  font-weight: 550;
}

#get-in-touch a {
  color: #e4e4e4;
  font-size: 1.3rem;
  font-weight: 550;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact form input,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #373a412d;
  color: #ffffff;
  border-radius: 5px;
}

#contact form textarea {
  height: 150px;
}

#contact form input[type="submit"] {
  height: 45px;
  background: linear-gradient(90deg, #2065cc 20%, #3b58b8);
  color: #ffffff;
  text-transform: uppercase;
}

/* footer styling */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #14151610;
  padding: 10px;
  margin-top: 50px;
  border-top: 1px solid #272729;
}

.footerbar {
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #292b3252;
  margin: 5px;
  font-size: 0.9rem;
  font-weight: 400;
}

.footer-social a:hover {
  background-color: #2993f7;
  transition: all ease 0.5s;
}

::selection {
  color: #e4e4e4;
  background-color: #416cdf;
}

#introduction,
#skills {
  padding-top: 60px;
}

.menu-icon,
.menu-btn {
  display: none;
}

/* mobile compatibility */
@media (max-width:1200px) {
  .profile-picture {
    width: 590px;
    height: 1800px;
    right: 5%;
    position: absolute;
    transform: translate(-5%, -50%);
  }

  .profile-picture img {
    scale: .5;
  }

  .model-bg {
    display: none;
  }

  .main-text {
    left: 10%;
    transform: translate(-10%, -50%);
  }

}

@media(max-width:1000px) {
  .navigation {
    justify-content: space-between;
    height: 65px;
    padding: 35px 25px;
  }

  .navigation .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #111111;
    border-bottom: 4px solid #1b1b1b;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navigation .menu li {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .navigation .menu li a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 30px 20px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }

  .navigation .menu li a:hover {
    color: #ffffff;
    background-color: #2065cc;
  }

  .menu-icon {
    display: block;
  }

  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 5px;
    position: relative;
    user-select: none;
    z-index: 2;
  }

  nav .menu-icon .nav-icon {
    background-color: #ffffffcc;
    display: block;
    position: relative;
    height: 2px;
    transition: background 0.2s ease-out;
    width: 25px;
  }

  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background-color: #ffffffcc;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }

  nav .menu-icon .nav-icon:before {
    top: 5px;
  }

  nav .menu-icon .nav-icon:after {
    top: -5px;
  }

  nav .menu-icon .nav-icon,
  nav .menu-icon:checked~.menu-icon .nav-icon {
    background-color: transparent;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0px;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0px;
  }

  nav .menu-btn:checked~.menu {
    display: block;
  }

  .menu::before {
    position: absolute;
    left: 0px;
    top: -60px;
    content: '';
    width: 100%;
    height: 60px;
    background-color: #111111;
  }

  .main-text {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #skills {
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
  }

  .skills-text-section {
    width: 400px;
  }

}

@media(max-width:900px) {

  .services-box-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media(max-width:800px) {
  .intro-heading {
    width: 80%;
  }
}

@media(max-width:620px) {
  #contact form {
    width: 90%;
  }

  .main-text {
    width: 85%;
  }

  .intro-heading strong,
  .skill-heading span {
    font-size: 1.25rem;
  }

  .skill-heading h2 {
    font-size: .75rem;
  }
}

@media(max-width:530px) {

  .skill-img {
    display: none;
  }

  .skills-text-section {
    width: 85%;
  }

  .main-btns {
    flex-direction: column;
  }

  .main-btns a {
    width: 100%;
    margin: 5px 0px;
  }

  .intro-heading {
    width: 100%;
  }

  #get-in-touch {
    padding: 20px 10px;
    text-align: center;
    font-size: 1rem;
  }

  #get-in-touch span,
  #get-in-touch a {
    font-size: 1rem;
  }

  .footerbar {
    font-size: 0.8rem;
  }
}

@media(max-width:300px) {
  .profile-picture {
    display: none;
  }

  .navigation {
    padding: 30px 10px;
  }
}