@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.profile-picture {
  border-radius: 50%;
  align-items: center;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Open Sans', sans-serif;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.header,
.right {
  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  align-items: center;
  justify-content: center;
}

.bio {
  font-family: poppins;
}

.links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
  font-family: poppins;
}

.links li {
  display: inline-block;
  margin-right: 8px;
}

.links a {
  text-decoration: none;
  padding: 4px;
}

.links a:hover {
  background-color: rgba(0, 0, 0, .1);
}

body {
  background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}